/**
 * Created by Pompo on 04.01.2017.
 */
.red-color{
  color: #ff0000;
}

.notes{
  font-size: 1.1rem;
  padding-top: 3px;
}

hr{
  height: 1px;
  background-color: #d8d8d8;
  margin: 3.2rem 0;
}

.email-link{
  color: #fff;
  text-decoration: none;

  &:hover{
    color: #fff;
    text-decoration: underline;
  }
}