/**
 * Created by Pompo on 04.01.2017.
 */
h1{
  font-size: 3.6rem;
  font-weight: 500;
  font-family: Tahoma, Arial, sans-serif;
}

h2{
  text-transform: uppercase;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 1.6rem;
  margin-top: 2rem;
  line-height: 1.25;
  font-weight: 400;
  width: 75%;
}